.background {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background:url(https://pic.rutubelist.ru/video/f2/49/f249f4ee2df69114dfc845f26669788f.jpg) no-repeat;
    background-size: cover;
}
.left_col {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 30;
}
.greeting {
font-size: 420%;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.wiki {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20;
    }
.right_col {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 30;
    align-items:end;
}
.links {
    display: flex;
    flex-direction: column;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
margin-top: 70;
}
.three {
    display: flex;
    flex-direction: column;
    font-size: 450%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70;
    text-align: right;
    width: 70%;
}
.background_billy {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background:url(https://tenor.com/ru/view/ae-gif-19485742) no-repeat;
    background-size: cover;
    justify-content: space-between;
}
.right_col_billy {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 30;
    align-items:end;
}
.right_col_steve {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 30;
    align-items:end;
    justify-content: center;
}
.wiki_van {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 200;
    }